Framework EA/
.vscode/
*.log
.DS_Store
*.ex5
AllSymbolsSample.mq5
Files/
Images/
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/
Include/dAydruNk/
Include/Expert/
Include/Generic/
Include/Graphics/
Include/Math/
Include/OpenCL/
Include/WinAPI/
Object.mqh
smoothalgorithms.mqh
VirtualKeys.mqh
MovingAverages.mqh
MyInclude 1.15.mqh
Indicators/
Libraries/
Logs/
Profiles/
Scripts/
Services/
Shared Projects/
*.dat
Experts/Advisors/
Experts/Examples/
Experts/Free Robots/
Experts/TestGenerate/