Experts/Advisors/
Experts/Examples/
Experts/Free Robots/
Experts/TestGenerate/
Framework EA/
Files/
Images/
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/
Include/dAydruNk/
Include/Expert/
Include/Generic/
Include/Graphics/
Include/Math/
Include/OpenCL/
Include/WinAPI/
Indicators/
Libraries/
Logs/
Profiles/
Scripts/
Services/
Shared Projects/
.DS_Store
AllSymbolsSample.mq5
Object.mqh
smoothalgorithms.mqh
VirtualKeys.mqh
MovingAverages.mqh
MyInclude 1.15.mqh
.vscode/
*.log
*.ex5
*.dat